@font-face{
    font-family: 'Montserrat-Thin';
    src: url(../fonts/Montserrat/Montserrat-Thin.ttf);
}
@font-face{
    font-family: 'Montserrat-Medium';
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face{
    font-family: 'Myriad-Pro';
    src: url(../fonts/MuriadPro/Myriad-Pro_31655.ttf);
}
@font-face{
    font-family: 'Nunito-Regular';
    src: url(../fonts/NunitoSans/Nunito-Regular.ttf);
}
@font-face{
    font-family: 'WorkSans-Regular';
    src: url(../fonts/WorkSans/WorkSans-Regular.ttf);
}
@font-face{
    font-family: 'Pe-icon-7-stroke';
    src: url(../fonts/pe-icon-7-stroke/Pe-icon-7-stroke.ttf);
}